<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" th:href="@{/images/greenwish-favicon.png}">
</head>
<body>
<div class="content-box">
<form action="/auth/login" method="post">
    <p th:if="${wrongCredentials}" class="error">Wrong username or password</p>
    <p><label>Username</label>
        <input name="username" type="text" autofocus></p>
    <p><label>Password</label>
        <input name="password" type="password"></p>
    <p><button type="submit">Login</button></p>
</form>
</div>
</body>
</html>