<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" th:href="@{/images/greenwish-favicon.png}">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<img class="HomePageLogo" th:src="@{/images/WISHLIST_LOGO.png}" alt="Logo">
<h3>GET STARTED WITH GREENWISH</h3>
<h1>All your wishes gathered in one place</h1>
<p>Greenwish makes it easy for you to save and share all your sustainable wishes with friends and family</p>

<footer class="footer">
    <div class="footer-content">
        <h3>Contact Us</h3>
        <p>Email: contact@greenwish.com</p>
        <p>Phone: +45 42069676</p>
    </div>
</footer>

</body>
</html>