<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sustainability Guide</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" th:href="@{/images/greenwish-favicon.png}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content-box">

<h1>About GreenWish</h1>

<div class="about-box">
    <p>
        At GreenWish our intention is to give you and your loved ones the knowledge and tools
        to express your affection towards each other and the planet we all share simultaneously.
        We try to give you the opportunity to give and receive gifts in creative, sustainable and climate friendly ways -
        and in doing so, express your gratitude to not just the current generations, but the ones who come after as well.
    </p>
    <p>
        On this page, we have several helpful links to guide your path. If you are looking to shop for
        fashion, tech or self-care products in more eco-friendly ways, all of these links should come in handy!
    </p>
</div>
<div class="button-container">
    <a href="https://www.superprof.dk/blog/stop-fast-fashion/" class="action-button">Fashion</a>
</div>
<div class="button-container">
    <a href="https://greenmind.dk/bedre-for-miljoet" class="action-button">Tech</a>
</div>
<div class="button-container">
    <a href="https://www.matas.dk/stories-beauty-vaner-bliv-mere-baeredygtig" class="action-button">Self-Care</a>
</div>
</div>
</body>
</html>