<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" th:href="@{/images/greenwish-favicon.png}">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<img class="HomePageLogo" th:src="@{/images/WISHLIST_LOGO.png}" alt="Logo">
<h3>KOM IGANG MED GREENWISH</h3>
<h1>Alle dine ønsker samlet ét sted</h1>
<p>Greenwish gør det nemt for dig at gemme og dele alle dine bæredygtige ønsker med venner og familie</p>
</body>
</html>