<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment Header</title>
</head>
<body>
<div th:fragment="header">
    <nav>
        <div class="container">

            <button type="button" onclick="window.location.href='/wishlist'"
            th:if="${session.memberId} != null">
                My Wishlists!
            </button>

            <button type="button" onclick="window.location.href='/member/edit'"
            th:if="${session.memberId} != null">
                Edit Account
            </button>

            <button type="button" onclick="window.location.href='/member/register'"
            th:if="${session.memberId} == null">
                Register
            </button>

            <button type="button" onclick="window.location.href='/auth/login'"
            th:if="${session.memberId} == null">
                Login
            </button>

            <button type="button" onclick="window.location.href='/auth/logout'"
            th:if="${session.memberId != null}">
                Logout
            </button>

            <form th:action="@{/wishlist/search}" method="get">
                <input type="search"  placeholder="Search for another's lists!">
                <button type="submit">Search</button>
            </form>

        </div>
    </nav>

</div>

</body>
</html>