<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Wishlists</title>
    <link rel="icon" th:href="@{/images/greenwish-favicon.png}">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<ul>
    <li th:each="wishlist : ${wishlists}">
        <a th:href="@{/wishlist/{id}(id=${wishlist.id})}">
            <strong th:text="${wishlist.title}">Wishlist name</strong>
        </a>
    </li>
</ul>

<a th:href="@{/wishlist/new}">
    <button>Create New Wishlist</button>
</a>

</body>
</html>