<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register New Member</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<form th:action="@{/member/save}" th:object="${member}" method="post">
    <label>Name:</label>
    <input autofocus placeholder="John Doe" th:field="*{name}" type="text">
    <br>
    <label>E-Mail:</label>
        <input type="email" th:field="*{email}" placeholder="john@doe.com">
    <br>
    <label>Username:</label>
        <input type="text" th:field="*{username}" placeholder="jodo420blaze">
    <br>
    <label>Password:</label>
        <input type="text" th:field="*{password}">
    <br>
    <button type="submit">Register</button>

</form>
<button type="button" onclick="window.location.href='/'">Go Back</button>

</body>
</html>