<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist Details</title>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<h2 th:text="${wishlist.title}">Wishlist Title</h2>
<p th:text="${wishlist.description}">Description</p>

<h3>Items</h3>

<ul>
    <li th:each="item : ${items}">
        <strong th:text="${item.name}">Item name</strong>
        <span th:text="${item.description}"></span>
        <span th:text="${item.price}"></span>
        <a th:if="${!item.url.isEmpty()}" th:href="${item.url}" target="_blank">Link</a>
        <p th:text="${item.note}"></p>
        <a th:if="${isOwner}" th:href="@{/wishlist/{wishlistId}/items/{itemId}/edit(
        wishlistId=${wishlist.id},
        itemId=${item.id}
         )}">Edit</a>
        <form th:if="${isOwner}" th:action="@{/wishlist/{wishlistId}/items/{itemId}/delete(
        wishlistId=${wishlist.id},
        itemId=${item.id}
    )}"
              method="post">

            <button th:if="${isOwner}" type="submit" style="color:red">Remove</button>
        </form>
    </li>
</ul>
<a th:if="${isOwner}" th:href="@{/wishlist/{id}/items/new(id=${wishlist.id})}">
    Add Item
</a>
<form th:if="${isOwner}" th:action="@{/wishlist/{wishlistId}/edit(wishlistId=${wishlist.id})}" method="get">
    <button type="submit">Edit Wishlist</button>
</form>
<form th:if="${isOwner}" th:action="@{/wishlist/{wishlistId}/delete(wishlistId=${wishlist.id})}" method="post">
    <button type="submit" style="color:red">Delete Wishlist</button>
</form>

</body>
</html>