<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist Details</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="content-box">
    <h2 th:text="${wishlist.title}">Wishlist Title</h2>
    <p th:text="${wishlist.description}">Description</p>

    <h3>Items</h3>

    <ul>
        <li th:each="item : ${items}">
            <strong th:text="${item.name}"></strong>
            <span th:text="'Description: ' + ${item.description}"></span>
            <span th:text="${item.price} + ' Kr'"></span>
            <a th:if="${!item.url.isEmpty()}" th:href="${item.url}" target="_blank">Link to item</a>
            <p th:text="'Personalized note: ' + ${item.note}"></p>
            <div class="item-actions">
                <a class="btn btn-sm btn-outline"
                   th:if="${isOwner}"
                   th:href="@{/wishlist/{wishlistId}/items/{itemId}/edit(
                wishlistId=${wishlist.id},
                itemId=${item.id}
           )}">
                    Edit
                </a>

                <form th:if="${isOwner}"
                      th:action="@{/wishlist/{wishlistId}/items/{itemId}/delete(
                    wishlistId=${wishlist.id},
                    itemId=${item.id}
              )}"
                      method="post">
                    <button class="btn btn-sm btn-danger" type="submit">
                        Remove
                    </button>
                </form>
            </div>
        </li>
    </ul>
    <a class="btn btn-outline" th:if="${isOwner}" th:href="@{/wishlist/{id}/items/new(id=${wishlist.id})}">
        Add Item
    </a>
    <form th:if="${isOwner}" th:action="@{/wishlist/{wishlistId}/edit(wishlistId=${wishlist.id})}" method="get">
        <button type="submit">Edit Wishlist</button>
    </form>
    <form th:if="${isOwner}" th:action="@{/wishlist/{wishlistId}/delete(wishlistId=${wishlist.id})}" method="post">
        <button class="btn btn-danger" type="submit">Delete Wishlist</button>
    </form>
    <form th:if="${!isOwner}" th:action="@{/wishlist/follow}" th:object="${wishlist}" method="post">
        <input type="hidden" th:field="*{id}">
        <button type="submit">Follow Wishlist</button>
    </form>
</div>
</body>
</html>