<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Wishlists</title>
    <link rel="icon" th:href="@{/images/greenwish-favicon.png}">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<ul>
    <li th:each="wishlist : ${wishlists}">
        <a th:href="@{/wishlist/{id}(id=${wishlist.id})}">
            <strong th:text="${wishlist.title}">Wishlist name</strong>
        </a>
        <form th:action="@{/wishlist/{wishlistId}/delete(wishlistId=${wishlist.id})}" method="post">
            <button type="submit" style="color:red">Delete Wishlist</button>
        </form>
    </li>
</ul>


<button th:if="${isOwner}" type="button" onclick="window.location.href='/wishlist/new'">Create New Wishlist</button>

</body>
</html>